/*#region General Site Colors*/
:root{
    /* Royal Red color*/
    --royal-red: #FF0000;

    /* Main blue bg */
    --dark-blue: #14274E;

    /* Button and mics blue bg */
    --navy-blue: #394867;

    /* Main green bg */
    --green: #01796F;

    /* Off Red */
    --off-red: #C06C84;

    /* Off white bg? */
    --off-white: #F1F6F9;

    /* Light gray text color */
    --light-gray: #b9bbbd;

    /* Black Text color */
    --black: #282C35;

    /* GitHub Colors */
    --off-black: ##171515;

    /* Fiverr Colors */
    --off-green: #00b22d;

    /* LinkedIn Blue */
    --off-blue: #0077b5;
}

/*#endregion General Site Colors*/

/* #region Global Styles */

h1, h4 {
    
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: var(--off-white);
}

p {
  color: var(--off-white);
    font-weight: 500;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.txt-bold{
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .card:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* #endregion Global Styles */

/*#region Colors*/

/* Text colors */
.txt-royal-red {
    color: var(--royal-red);
}

.txt-dark-blue{
    color: var(--dark-blue);
}
.txt-off-navy{
    color: var(--navy-blue);
}
.txt-green{
    color: var(--green);
}
.txt-off-red{
    color: var(--off-red);
}
.txt-off-white{
    color: var(--off-white);
}
.txt-light-gray{
    color: var(--light-gray);
}
.txt-black{
    color: var(--black);
}
.txt-off-black {
  color: var(--off-black);
}

.txt-off-green {
  color: var(--off-green);
}

.txt-off-blue {
  color: var(--off-blue);
}



/* Text Link Colors */

.link-txt-off-black {
  color: var(--black);
  text-decoration: none; 
}

.link-txt-off-blue {
  color: var(--off-blue);
  text-decoration: none; 
}

.link-txt-off-green {
  color: var(--off-green);
  
  text-decoration: none; 
}

.link-txt-off-black {
  color: var(--light-gray);
  
  text-decoration: none; 
}

.link-txt-off-red {
    color: var(--off-red);
    text-decoration: none; 
    font-family: 'Montserrat';
   
}

.link-txt-red {
  color: var(--royal-red);
  text-decoration: none; 
  /* testing font-family mobile */
  /* font-family: 'Montserrat';
  font-weight: 900; */
  
}
.link-txt-off-white {
  /* changed for hover class to stay same */
  color: var(--navy-blue);
  /* color: var(--off-white); */
  text-decoration: none; 
}

.link-txt-off-white-2 {
  color: var(--off-white);
  text-decoration: none; 
}

.link-txt-off-white-3 {
  /* changed for hover class to stay same */
  color: var(--navy-blue);
  /* color: var(--off-white); */
  text-decoration: none; 
}

/* Hover colors */

.link-txt-red:hover{
  color: #fff;
  text-decoration: none; 
}

.hover-txt-nav:hover{
    color: var(--light-gray);
    text-decoration: none; 
}

.link-txt-off-blue:hover {
  color: var(--off-white);
  text-decoration: none; 
}

.link-txt-off-green:hover {
  color: #fff;
  
  text-decoration: none; 
}

.link-txt-off-black:hover {
  color: #fff;
  
  text-decoration: none; 
}


.link-txt-off-purp:hover {
  color: var(--off-white);
  text-decoration: none;
}

.link-txt-off-white-2:hover {
  color: var(--off-red);
  text-decoration: none;
}
.link-txt-off-red:hover {
  color: var(--off-white);
  text-decoration: none;
}

.link-txt-off-white:hover {
  color: var(--light-gray);
  text-decoration: none;
}

.link-txt-off-white-3:hover {
  color: var(--dark-blue);
  text-decoration: none;
}

/* Custom Background Colors */
.bg-green{
    background-color: var(--green);
}
.bg-off-red{
  background-color: var(--off-red);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-off-white{
    background-color: var(--off-white);
}
.bg-off-navy{
    background-color: var(--navy-blue);
}

.angled-gradient {
  background: linear-gradient(-102deg, var(--dark-blue),var(--navy-blue), var(--light-gray));
}

.angled-gradient-2 {
  background: linear-gradient(-102deg, var(--dark-blue),var(--navy-blue), var(--light-gray));
}

@media screen and (min-width: 992px) {
  .angled-gradient-2 {
    background: unset;
  }
}

/* Button Colors */
.btn-white{
    color: var(--navy-blue);
    background-color: var(--off-white);
    border-color: var(--navy-blue);
}
.btn-white:hover{
    background-color: var(--navy-blue);
    border-color: var(--navy-blue);
    color: var(--off-white);
}

.btn-white-2{
  color: var(--navy-blue);
  background-color: var(--off-white);
  border-color: var(--green);
}
.btn-white-2:hover{
  background-color: var(--green);
  border-color: var(--off-red);
  color: var(--off-white);
}

.btn-white-3{
  color: var(--navy-blue);
  background-color: var(--off-white);
  border-color:  var(--green);
}
.btn-white-3:hover{
  background-color: var(--green);
  border-color: var(--off-red);
  color: var(--off-white);
}

.btn-blue{
    background-color: var(--navy-blue);
    border-color: var(--navy-blue);
    color: var(--off-white);
}
.btn-blue:hover{
    background-color: var(--off-white);
    color: var(--navy-blue);
}

.btn-blue-2{
  background-color: var(--navy-blue);
  border-color: var(--navy-blue);
  color: var(--off-white);
}
.btn-blue-2:hover{
  background-color: var(--green);
  color: var(--off-white);
}

.btn-blue-3{
    background-color: var(--black);
    border-color: var(--off-red);
    color: var(--off-white);
  }
  .btn-blue-3:hover{
    background-color: var(--royal-red);
    border-color: var(--navy-blue);
    color: var(--off-white);
  }


/*#endregion Colors*/

/* #region Element Styles */

@media screen and (min-width: 992px) {
  #card-head {
    text-align: left !important;
  }
}

.web-btn-txt {
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    .web-btn {
      width: 375px;
    }
}

@media screen and (min-width: 576px) {
    hr {
      max-width: 750px;
    }
}

/* #endregion Element Styles */